In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('Used_Bikes.csv')
df

In [ ]:
data = {'A':[2,5,np.nan,8,np.nan,9],
       'B':[np.nan,45,np.nan,89,63,np.nan], 
       'C':[np.nan,74,np.nan,np.nan,85,4], 
       'D':[10,20,30,40,50,60]}
data

In [ ]:
df2 = pd.DataFrame(data)
df2

In [ ]:
df2.dropna() # by default removes all those row that constains missing values

In [ ]:
df2.dropna(axis='columns')

In [ ]:
# df2.isnull().sum() # column wise missing values
print(f'Total missing values are {df2.isnull().sum().sum()}')

In [ ]:
df2.isnull().sum()/df2.shape[0]*100 # percentage amount, which helps us how much data will get loss (i.e. in B there 50% data loss) and which will remain

In [ ]:
# filling the records
# df2.fillna(100) # stores in whole dataframe
df2['A'].fillna(500) # stores in column A
df2['B'].fillna(200) # stores in column B
# df2['A'].fillna(500) # stores in whole dataframe

In [ ]:
# df2['A'].fillna(df2['A'].mean()) # fills with mean values
df2['A'].fillna(df2['A'].median()) # fills with median values
df2['A'].fillna(df2['A'].mode()) # fills with median values

In [ ]:
df2['A'].mode()

In [ ]:
df['price'].min()
df['price'].max()
df['price'].mean()

In [ ]:
df

In [ ]:
df[df['brand']=='TVS']['price'].min()

In [ ]:
brand_group = df.
# brand_group[['price']].min()
# brand_group[['price']].max()
# brand_group[['price']].mean()

In [ ]:
brand_group['price'].agg(min_price='min',max_price='max',avg_price='mean')

In [ ]:
brand_driven = df.groupby('brand').agg(min_driven=('kms_driven','min'), max_driven=('kms_driven','max'))
brand_driven

In [ ]:
# brand_owner = df.groupby('brand').agg(First_owner = ('owner',''))

In [56]:
df.dtypes
cat_col = df.select_dtypes(include='O')
cat_col.head()
num_col = df.select_dtypes(exclude='O')
num_col.head()

      price  kms_driven  age  power
0   35000.0     17654.0  3.0  110.0
1  119900.0     11000.0  4.0  350.0
2  600000.0       110.0  8.0  675.0
3   65000.0     16329.0  4.0  180.0
4   80000.0     10000.0  3.0  150.0

In [59]:
df3 = pd.concat([cat_col,num_col],axis='columns')
df3.head()

,bike_name,city,owner,brand,price,kms_driven,age,power
0,TVS Star City Plus Dual Tone 110cc,Ahmedabad,First Owner,TVS,35000.0,17654.0,3.0,110.0
1,Royal Enfield Classic 350cc,Delhi,First Owner,Royal Enfield,119900.0,11000.0,4.0,350.0
2,Triumph Daytona 675R,Delhi,First Owner,Triumph,600000.0,110.0,8.0,675.0
3,TVS Apache RTR 180cc,Bangalore,First Owner,TVS,65000.0,16329.0,4.0,180.0
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,Bangalore,First Owner,Yamaha,80000.0,10000.0,3.0,150.0